<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Velyra</string>
	<key>CFBundleName</key>
	<string>Velyra</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>TRAKT_CLIENT_ID</key>
	<string>$(TRAKT_CLIENT_ID)</string>
	<key>TRAKT_CLIENT_SECRET</key>
	<string>$(TRAKT_CLIENT_SECRET)</string>
	<key>TMDB_READ_ACCESS_TOKEN</key>
	<string>$(TMDB_READ_ACCESS_TOKEN)</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>pt.ricardosoares.velyra</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>velyra</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
